flask~=1.1.2
click~=7.1.2
Werkzeug~=1.0.1
wtforms
sqlalchemy
email-validator==1.0.5
flask-bcrypt
flask-crontab
flask-login
flask-wtf
flask-sqlalchemy
flask-marshmallow
flask-migrate
marshmallow-sqlalchemy
psycopg2-binary
Pillow